
<!-- @Autoral github.com/ricky-lopes -->

<main class="main w-100 flex">
  <div class="mw-300">
    <div class="radius-top flex style-grids">
      {{firstValue}} &nbsp;
      {{operation}} &nbsp;
      {{secondValue}}
      <div *ngIf="result || result === 0">
        &nbsp;=&nbsp;{{result}}
      </div>
    </div>
    <div class="flex flex-between">
      <div class="style-grids flex w-100" (click)="receiveValue(1)">1</div>
      <div class="style-grids flex w-100" (click)="receiveValue(2)">2</div>
      <div class="style-grids flex w-100" (click)="receiveValue(3)">3</div>
      <div class="style-grids flex w-100" (click)="receiveOperator('*')">*</div>
    </div>
    <div class="flex flex-between">
      <div class="style-grids flex w-100" (click)="receiveValue(4)">4</div>
      <div class="style-grids flex w-100" (click)="receiveValue(5)">5</div>
      <div class="style-grids flex w-100" (click)="receiveValue(6)">6</div>
      <div class="style-grids flex w-100" (click)="receiveOperator('/')">/</div>
    </div>
    <div class="flex flex-between">
      <div class="style-grids flex w-100" (click)="receiveValue(7)">7</div>
      <div class="style-grids flex w-100" (click)="receiveValue(8)">8</div>
      <div class="style-grids flex w-100" (click)="receiveValue(9)">9</div>
      <div class="style-grids flex w-100" (click)="cleanValues()">C</div>
    </div>
    <div class="flex flex-between">
      <div class="style-grids flex w-100" (click)="receiveOperator('+')">+</div>
      <div class="style-grids flex w-100" (click)="receiveValue(0)">0</div>
      <div class="style-grids flex w-100" (click)="receiveOperator('-')">-</div>
      <div class="style-grids flex w-100" (click)="verifyToCalculate()">=</div>
    </div>
  </div>
</main>